<section class="features">
    <div class="container">
        <h1>What Do You Get With Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set priorities and focus on important.</p>
        <div class="tool-features">
            <div class="box">
                <img src="./images/features/commentsicon.svg" alt="">
                <h5>Comment on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="./images/features/taskicon.svg" alt="">
                <h5>Tasks Analtics</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="./images/features/MultiIcon.svg" alt="">
                <h5>Multiple Assignees</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="./images/features/notisicon.svg" alt="">
                <h5>Notifications</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="./images/features/checkboxicon.svg" alt="">
                <h5>Section & Subtasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="./images/features/securityicon.svg" alt="">
                <h5>Data Security</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
        </div>
    </div>
</section>