@model HomeIndexViewModel
@await Html.PartialAsync("~/Views/Shared/Sections/_Showcase.cshtml", Model.Showcase)


<section id="features">
    <partial name="~/Views/Shared/Sections/_Features.cshtml" />
</section>
