.features {
    padding-top: 70px;
    background-color: $gray-100;
    padding-bottom: 70px;

    .container {
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
            margin-bottom: 70px;
        }

        .tool-features {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @include xl {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px;

                    img {
                        margin-bottom: 25px;
                    }

                    h5 {
                        text-align: center;
                    }

                    &:nth-child(3n) {
                        border-left: 1px solid $gray-300;
                    }

                    &:nth-child(n+4) {
                        border-top: 1px solid $gray-300;
                    }

                    &:nth-child(1),
                    &:nth-child(4) {
                        border-right: 1px solid $gray-300;
                    }

                    &:hover {
                        background-color: lightgray;
                    }
                }
            }
        }
    }
}
