form {
  width: 100%;
  display: grid;
  
  
  .input-group {
    display: grid;
  }

  .checkbox {
    span {
      display: block;

      &.field-validation-error {
        position: static;
        top: 0;
        right: 0;
        @include text-s;
        color: $danger;
      }
    }
  }

  .checkbox-group {
    position: relative;
    height: 50px;

    .input-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;

      input[type="checkbox"] {
        height: 1.5rem;
        width: 1.5rem;

        &.input-validation-error {
          position: relative;
          box-shadow: 0 0 0 0.063rem $danger;
          color: $danger;

          &::placeholder {
            color: $danger;
          }
        }
      }

      label {
        margin: 0;
        font-weight: 400;
      }
    }

    span {
      position: relative;

      &.field-validation-error {
        @include text-s;
        color: $danger;

        &::after {
          position: absolute;
          right: 10px;
          top: 0px;
          z-index: 10;
          font-size: 2em;
          display: block;
          content: '\2BBF';
        }
      }
    }
  }

  label {
    margin-bottom: 0.188rem;
    font-weight: 700;
  }

  input {
    padding: 1rem;
    border-radius: 0.5rem !important;
    border: 0.063rem solid $gray-400;

    &::placeholder {
      opacity: 0.4;
    }

    &.input-validation-error {
      position: relative;
      border: 0.063rem solid $danger !important;
      color: $danger;

      &::placeholder {
        color: $danger;
      }
    }

    &:focus {
      outline: none;
      border: 0.063rem solid $gray-600;
    }
  }

  textarea {
    padding: 1rem;
    border-radius: 0.5rem !important;
    border: 0.063rem solid $gray-400;
    resize: none;

    &::placeholder {
      opacity: 0.4;
    }

    &.input-validation-error {
      border: 0.063rem solid $danger !important;
      color: $danger;

      &::placeholder {
        color: $danger;
      }
    }
  }

  span {
    &.field-validation-error {
      position: absolute;
      top: 0;
      right: 0;
      @include text-s;
      color: $danger;

      &::after {
        position: absolute;
        right: 10px;
        top: 47px;
        z-index: 10;
        font-size: 2em;
        display: block;
        content: '\2BBF';
      }
    }
  }
}